* {
  box-sizing: border-box;
}
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 21px;
  background-color: black;
  color: aliceblue;
}
.submit-top {
  border: 1px solid white;
  border-radius: 5px;
  background-color: black;
  color: aliceblue;
  padding: 5px;
}
.signIn-top {
  border: 1px solid white;
  border-radius: 5px;
  background-color: #4c5fd5;
  color: aliceblue;
  padding: 5px;
}
.div-main-search {
  text-align: center;
  background-color: #dadbf1;
  padding: 50px;
  margin-bottom: 40px;
}
.searchMain {
  width: 80%;
  padding: 10px;
  margin-top: -80px;
}
.main-Conten {
  align-items: center;
  width: 100%;
  height: auto;
  justify-content: center;
  display: grid;
  grid-template-columns: 400px 400px;
  gap: 100px;
  font-size: 20px;
}
.icon1,
.icon2,
.icon3,
.icon4,
.icon5,
.icon6 {
  font-size: 100px;
}
.conten1,
.conten2,
.conten3,
.conten4,
.conten5,
.conten6 {
  display: flex;
  align-items: flex-start;
}

.footer {
  margin-top: 40px;

  background-color: black;
  color: aliceblue;
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;
  padding-bottom: 40px;
  gap: 80px;
}
.footer1 a {
  color: #dadbf1;
}
.footer2 a {
  color: #dadbf1;
}
.footer3 a {
  color: #dadbf1;
}
.footer4 a {
  color: #dadbf1;
}
.footer5 {
  align-self: flex-end;
  padding-top: 150px;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
img {
  width: 20px;
  border-radius: 5px;
}
